/*通讯录管理*/
.inforTittle{}
.inforTittle span{text-align: center;color: #162743;background: #4fcbff;padding: 5px 8px;display: block;float: left;}
.borderDiv{margin-top: 5px;margin-left:25px;margin-right: 5px;border: 1px solid #337fa5;}
.lineHeight28{line-height: 28px;}
.colorWhite{color: #bceffc}